body {
  background-color: rgb(247, 231, 95);
  text-align: center;
  font-family: 'Arial'
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

input[type=text] {
  font-size: larger;
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=submit] {
  padding: 12px 20px;
  font-size: larger;
}